@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Below is the JSON data from data.gov api</h1>
</div>

<div class="text-center">
    <h3>@ViewBag.explaination</h3>
</div>
